# dependencies
node_modules/
.expo/
dist/
build/

# secrets
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# mobile specific
ios/
android/
*.jks
*.p12
*.key
*.mobileprovision

# firebase
.firebase/
firebase-debug.log*
serviceAccountKey.json
